<div *ngIf="isShow" class="overlay"></div>
<header>
  <div class="img">
    <img src="assets/img/Meubel House_Logos-05.png" alt="" />
    <h1>Furniro</h1>
  </div>
  <div class="item">
    <ul class="item-group1">
      <li><a routerLink="home">Home</a></li>
      <li>
        <a [routerLink]="['shop']">Shop</a>
      </li>
      <li><a href="">Blog</a></li>
      <li><a [routerLink]="['contact']">Contact</a></li>
    </ul>
    <ul class="item-group2">
      <li>
        <a class="pi pi-user-custom" href=""></a>
      </li>
      <li><a class="pi pi-search" href=""></a></li>
      <li><a class="pi pi-heart" href=""></a></li>
      <li>
        <a
          (click)="$event.preventDefault()"
          class="pi pi-shopping-cart"
          href=""
        ></a>
      </li>
    </ul>
  </div>
  <div #dropDown *ngIf="isShow" @traslate class="dropdown">
    <div class="dropdown-margin">
      <div class="dropdown-title">
        <div class="dropdown-title-heading">
          <h1>Shopping Cart</h1>
        </div>
        <i class="pi pi-shopping-bag"></i>
      </div>
      <div class="dropdown-items">
        <div class="dropdown-items-slider">
          <p
            *ngIf="storageData.length == 0"
            class="dropdown-items-slider-product"
          >
            Корзина пуста
          </p>
          <ng-container *ngFor="let data of storageData; let i = index">
            <div class="dropdown-items-slider-product">
              <div class="dropdown-items-slider-product-picture">
                <img [src]="picture[i]" alt="" />
              </div>
              <div class="dropdown-items-slider-product-info">
                <h1>{{ data.name }}</h1>
                <span
                  ><p>{{ data.amount }}</p>
                  <p>X</p>
                  <h2>Rs. {{ _func.setPoint(data.currentPrice) }}</h2></span
                >
              </div>
              <button (click)="delItem(i); $event.stopPropagation()">
                <i class="pi pi-crest"></i>
              </button>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="dropdown-prices">
        <p>Subtotal</p>
        <h1>Rs. {{ _func.calculateTotalPriceForCart() }}</h1>
      </div>
    </div>
    <div class="dropdown-navigate">
      <button (click)="isShow = false" [routerLink]="['cartBuy']">Cart</button>
      <button (click)="isShow = false" [routerLink]="['check']">
        Checkout
      </button>
      <button>Comparison</button>
    </div>
  </div>
</header>
