<hr />
<footer>
  <div class="info">
    <div class="info-left">
      <h1>Funiro.</h1>
      <p>
        400 University Drive Suite 200 Coral<br />
        Gables, <br />
        FL 33134 USA
      </p>
    </div>
    <div class="info-right">
      <ul>
        <span>Links</span>
        <li><a>Home</a></li>
        <li><a>Shop</a></li>
        <li><a>Blog</a></li>
        <li><a>Contact</a></li>
      </ul>
      <ul>
        <span>Help</span>
        <li>Payment Options</li>
        <li>Returns</li>
        <li>Privacy Policies</li>
      </ul>
      <ul>
        <span>Newsletter</span>
        <div class="info-right-inputs">
          <input type="email" placeholder="Enter Your Email Address" />
          <button>SUBSCRIBE</button>
        </div>
      </ul>
    </div>
  </div>
  <p class="text">2023 furino. All rights reverved</p>
</footer>
