<div class="card">
  <div (click)="goToPage()" class="overlay"></div>
  <div class="card-frame">
    <img class="card-frame__preview" [src]="img" alt="" />
    <div class="card-frame-hover">
      <button>Add to cart</button>
      <div class="card-frame-hover-item">
        <i class="pi pi-share-alt"><span>Share</span></i>
        <i class="pi pi-arrow-right-arrow-left"><span>Compare</span></i>
        <i class="pi pi-heart"><span>Like</span></i>
      </div>
    </div>
    <img *ngIf="sale != ''" class="card-frame__sale" [src]="saleImg" />
  </div>
  <div class="card-info">
    <h2>{{ name }}</h2>
    <p>{{ description }}</p>
    <div class="card-info-price" *ngIf="sale == ''; else withSale">
      <p>Rp {{ totalPrice }}</p>
    </div>

    <ng-template #withSale>
      <div class="card-info-price">
        <p>Rp {{ salePrice }}</p>
        <span>Rp {{ totalPrice }}</span>
      </div>
    </ng-template>
  </div>
</div>
