<div class="card">
  <div class="overlay"></div>
  <div class="card-frame">
    <img src="assets/img/image 1.png" alt="" />
    <div class="card-frame-hover">
      <button>Add to cart</button>
      <div class="card-frame-hover-item">
        <i class="pi pi-share-alt"><span>Share</span></i>
        <i class="pi pi-arrow-right-arrow-left"><span>Compare</span></i>
        <i class="pi pi-heart"><span>Like</span></i>
      </div>
    </div>
  </div>
  <div class="card-info">
    <h2>Syltherine</h2>
    <p>Stylish cafe chair</p>
    <div class="card-info-price">
      <p>Rp 2.500.000</p>
      <span>Rp 3.500.000</span>
    </div>
  </div>
</div>
