.pi.pi-grid {
  -webkit-mask: url("/assets/img/Vector.svg") no-repeat center;
  mask: url("/assets/img/Vector.svg") no-repeat center;
  -webkit-mask-size: contain;
  mask-size: contain;
  background-color: currentColor;
  display: inline-block;
  width: 1em;
  height: 1em;
}

.pi.pi-stack {
  -webkit-mask: url("/assets/img/Vector2.svg") no-repeat center;
  mask: url("/assets/img/Vector2.svg") no-repeat center;
  -webkit-mask-size: contain;
  mask-size: contain;
  background-color: currentColor;
  display: inline-block;
  width: 1em;
  height: 1em;
}

@import "variables";

.sortline {
  padding: 25px 7vw;
  display: flex;
  justify-content: space-between;
  background: $color-beige;

  &-content {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;

    p {
      font-size: 16px;
    }

    hr {
      width: 2px;
      height: 60%;
      background: $color-secondLigthGrey;
    }

    &-icons {
      display: flex;
      gap: 20px;

      i,
      p,
      &__left {
        cursor: pointer;

        &:hover {
          opacity: 0.7;
        }

        &:active {
          opacity: 0.9;
        }
      }

      &__left {
        display: flex;
        gap: 10px;
      }

      &__right {
        display: flex;
        gap: 20px;
      }
    }
  }

  &-inputs {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    gap: 20px;

    &-item {
      display: flex;
      align-items: center;
      gap: 10px;

      p {
        font-size: 20px;
      }

      span {
        color: $color-ligthGrey;
        font-size: 20px;
        background-color: white;
      }

      &__show {
        padding: 15px;
      }
      &__sort {
        padding: 15px 5vw 15px 25px;
      }
    }
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 10vh 5vw;
}
