<app-banner-line [path]="'home'" [title]="'shop'"></app-banner-line>

<div #items class="sortline">
  <div class="sortline-content">
    <div class="sortline-content-icons">
      <span (click)="isShow = !isShow" class="sortline-content-icons__left">
        <i class="pi pi-sliders-h"></i>
        <p>Filter</p>
      </span>
      <span class="sortline-content-icons__right">
        <i class="pi pi-grid"></i>
        <i class="pi pi-stack"></i>
      </span>
    </div>
    <hr />
    <p>
      Showing
      <span>{{ 1 }} – {{ currentDataPage.length }}</span>
      of
      <span *ngIf="allData?.length">{{ allData.length }}</span>
      results
    </p>
  </div>
  <div class="sortline-inputs">
    <div class="sortline-inputs-item">
      <p>Show</p>
      <span class="sortline-inputs-item__show">{{currentDataPage.length }}</span>
    </div>
    <div class="sortline-inputs-item">
      <p>Short by</p>
      <span class="sortline-inputs-item__sort">Default</span>
    </div>
  </div>
</div>

<div class="items">
  <div @fadeIn *ngIf="isShow" class="items-filter">
    <div class="items-filter-container">
      <h1>Shop By Room</h1>
      <ng-container *ngFor="let room of shopByRoom | keyvalue; let i = index">
        <p (click)="isShowRoom[i] = !isShowRoom[i]">{{ room.key }}</p>
        <ng-container *ngFor="let prod of room.value">
          <ul *ngIf="isShowRoom[i]">
            <li (click)="toggleRoom(room.key,prod)">
              {{ prod }}
            </li>
          </ul>
        </ng-container>
      </ng-container>
    </div>
    <div class="items-filter-container">
      <h1>Colors</h1>
      <div class="items-filter-container-colors">
        <ng-container *ngFor="let color of colorsFilter; let i = index">
          <i
            (click)="toggleColor(color)"
            [class.active-color]="arrayColors.includes(color)"
            [style.background]="color"
          ></i>
        </ng-container>
      </div>
    </div>
    <div class="items-filter-container">
      <h1>Price</h1>
      <ng-container *ngFor="let price of priceFilter; ">
        <div class="items-filter-container-line">
          <input (change)="this.updateFilters();" type="radio" [value]="price" [(ngModel)]="selectedIndexRadio" />
          {{ price.min }} Rp - {{ price.max }} Rp
        </div>
      </ng-container>
    </div>
    <div class="items-filter-container">
      <h1>Rating</h1>
      <p-rating *ngIf="allDataForFilters" (onRate)="toggleRating($event)" [(ngModel)]="ratingValue" [stars]="5" />
    </div>
    <div class="items-filter-container">
      <h1>Size</h1>
      <ng-container *ngFor="let size of sizeFilter; let i = index">
        <ul>
          <li (click)="toggleSize(size)" [class.active-size]="arraySize.includes(size)">{{size}}</li>
        </ul>
      </ng-container>
    </div>
    <div class="items-filter-container">
      <h1 (click)="resetFilters()" [style.cursor]="'pointer'">Reset Filters</h1>
    </div>
  </div>

  <div class="items-container">
    <div [class.filter]="isShow" class="items-container-cards">
      <ng-container *ngIf="allData?.length; else emptyCard">
        <ng-container *ngFor="let item of currentDataPage">
          <app-card
            [price]="item.price"
            [img]="item.previewImg"
            [name]="item.name"
            [description]="item.previewDescription"
            [sale]="item.sale"
            [obj]="currentDataPage"
          ></app-card>
        </ng-container>
      </ng-container>
      <ng-template #emptyCard><p id="emptyCard">Товаров не найдено</p></ng-template>
    </div>
    <p-paginator
      *ngIf="allData?.length"
      (onPageChange)="onPageChange($event)"
      [first]="1"
      [rows]="8"
      [totalRecords]="allData.length"
      [pageLinkSize]="4"
      [showFirstLastIcon]="false"
    ></p-paginator>
  </div>
</div>

<app-onfooter></app-onfooter>
