<div class="onfooter">
  <div class="onfooter-item">
    <img src="/assets/img/onfooterImg1.png" alt="" />
    <p>High Quality</p>
    <span>crafted from top materials</span>
  </div>
  <div class="onfooter-item">
    <img src="/assets/img/onfooterImg2.png" alt="" />
    <p>Warranty Protection</p>
    <span>Over 2 years</span>
  </div>
  <div class="onfooter-item">
    <img src="/assets/img/onfooterImg3.png" alt="" />
    <p>Free Shipping</p>
    <span>Order over 150 $</span>
  </div>
  <div class="onfooter-item">
    <img src="/assets/img/onfooterImg4.png" alt="" />
    <p>24 / 7 Support</p>
    <span>Dedicated support</span>
  </div>
</div>
