@use 'variables' as *;

.pi.pi-custom-trash {
  -webkit-mask: url('/assets/img/Trash.svg') no-repeat center;
  mask: url('/assets/img/Trash.svg') no-repeat center;
  -webkit-mask-size: contain;
  mask-size: contain;
  background-color: currentColor;
  display: inline-block;
  width: 1em;
  height: 1em;
  background: $color-primary;
}

#lightGrey {
  color: $color-secondLigthGrey;
}

#frame {
  border: 1px solid $color-secondLigthGrey;
  padding: 5px 10px;
  border-radius: 5px;
}

.container {
  font-size: 16px;
  display: grid;
  grid-template-columns: 70% 30%;
  padding: 10vh 10vw 20vh 5vw;
  gap: 5vw;

  i {
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.9;
    }
  }

  &-cart {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5% 95%;
    gap: 5vw;

    &-cell {
      align-self: flex-start;
      font-weight: 500;
      padding: 10px;
      display: grid;
      background-color: $color-beige;
      grid-template-columns: 35% 25% 10% 25% 5%;
      align-content: center;
      justify-items: center;

      p {
        padding: 10px 0;
      }

      &__price {
        padding-left: 20px;
        justify-self: flex-start;
      }
    }

    &-wrapper {
      height: 100vh;

      &-items {
        height: 100%;
        overflow-y: auto;

        &::-webkit-scrollbar {
          background-color: transparent;
        }

        &-product {
          display: grid;
          align-items: center;
          justify-items: center;
          grid-template-columns: 35% 25% 10% 25% 5%;
          gap: 30px 0;

          &__price {
            padding-left: 20px;
            justify-self: flex-start;
          }

          &-picture {
            justify-self: flex-start;
            display: flex;
            align-items: center;
            gap: 20px;

            img {
              background: $color-beige;
              width: 105px;
              height: 105px;
              border-radius: 10px;
            }
          }
        }
      }
    }
  }

  &-check {
    align-self: flex-start;
    background: $color-beige;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 20px 20px 60px 20px;

    &-title {
      padding: 20px;
      display: flex;
      font-size: 32px;
      font-weight: 600;
    }

    &-info {
      display: flex;
      flex-direction: column;
      gap: 30px;

      span {
        display: flex;
        justify-content: space-between;
        gap: 30px;

        h1 {
          font-weight: 500;
          font-size: 16px;
        }
      }
      &__sub {
        color: $color-secondLigthGrey;
        font-size: 16px;
      }

      &__tot {
        color: $color-primary;
        font-size: 20px;
      }
    }
  }
}

button {
  background: transparent;
  border: 1px solid black;
  border-radius: 15px;
  padding: 15px 2vw;
  font-size: 20px;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.9;
  }
}
