<div class="banner">
  <div class="banner-item">
    <div class="banner-item-text">
      <p class="banner-item-text__book">New Arrival</p>
      <h1>
        Discover Our <br />
        New Collection
      </h1>
      <p class="banner-item-text__treating">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut <br />
        elit tellus, luctus nec ullamcorper mattis.
      </p>
    </div>
    <button>BUY NOW</button>
  </div>
</div>

<div class="category">
  <div class="category-title">
    <h1>Browse The Range</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>
  <div class="category-items">
    <div class="category-items-card">
      <img src="/assets/img/dining.png" alt="" />
      <p>Dining</p>
    </div>
    <div class="category-items-card">
      <img src="/assets/img/living.png" alt="" />
      <p>Living</p>
    </div>
    <div class="category-items-card">
      <img src="/assets/img/bedroom.png" alt="" />
      <p>Bedroom</p>
    </div>
  </div>
</div>

<div class="products">
  <h1>Our Products</h1>
  <div class="products-items">
    <ng-container>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
    </ng-container>
  </div>
  <button class="products__btn">Show More</button>
</div>

<div class="inspirations">
  <button class="arrow" (click)="nextSlide()">
    <i class="pi pi-chevron-right"></i>
  </button>
  <div class="margin">
    <div class="inspirations-info">
      <h1>50+ Beautiful rooms inspiration</h1>
      <p>
        Our designer already made a lot of beautiful prototipe of rooms that
        inspire you
      </p>
      <button>Explore More</button>
    </div>

    <div class="inspirations-curslide">
      <img [@fadeIn]="currentIndex" [src]="slides[currentIndex].img" alt="" />
      <div class="inspirations-curslide-content">
        <div class="inspirations-curslide-content-info">
          <p>
            0 {{ slides[currentIndex].id }} —
            {{ slides[currentIndex].category }}
          </p>
          <h1>{{ slides[currentIndex].title }}</h1>
        </div>
        <button>
          <i class="pi pi-arrow-right"></i>
        </button>
      </div>
    </div>
    <div class="inspirations-slider">
      <div class="inspirations-slider-wrapper">
        <img
          [@fadeIn]="currentIndexCorusel"
          *ngFor="let slide of carouselSlide"
          [src]="slide.img"
          alt=""
        />
      </div>
      <div class="inspirations-slider-current">
        <i
          *ngFor="let slide of slides; let i = index"
          class="pi pi-circle-on"
          [class.currentslide]="i === currentIndex"
          (click)="goToSlide(i)"
        ></i>
      </div>
    </div>
  </div>
</div>
<!-- [src]="slidesCorusel[currentIndexCorusel + 1]" -->
<div class="funiro">
  <div class="funiro-text">
    <p>Share your setup with</p>
    <h1>#FuniroFurniture</h1>
  </div>
</div>
