<div class="banner">
  <div class="banner-item">
    <div class="banner-item-text">
      <p class="banner-item-text__book">New Arrival</p>
      <h1>
        Discover Our <br />
        New Collection
      </h1>
      <p class="banner-item-text__treating">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut <br />
        elit tellus, luctus nec ullamcorper mattis.
      </p>
    </div>
    <button>BUY NOW</button>
  </div>
</div>

<div class="category">
  <div class="category-title">
    <h1>Browse The Range</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>
  <div class="category-items">
    <div class="category-items-card">
      <img src="/assets/img/dining.png" alt="" />
      <p>Dining</p>
    </div>
    <div class="category-items-card">
      <img src="/assets/img/living.png" alt="" />
      <p>Living</p>
    </div>
    <div class="category-items-card">
      <img src="/assets/img/bedroom.png" alt="" />
      <p>Bedroom</p>
    </div>
  </div>
</div>
