<div class="banner">
  <div class="banner-item">
    <div class="banner-item-text">
      <p class="banner-item-text__book">New Arrival</p>
      <h1 class="banner-item-text__title">
        Discover Our <br />
        New Collection
      </h1>
      <p class="banner-item-text__treating">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut <br />
        elit tellus, luctus nec ullamcorper mattis.
      </p>
    </div>
    <button class="banner-item__btn">BUY NOW</button>
  </div>
</div>

<div class="category">
  <div class="category-title">
    <h1 class="category-title__tit">Browse The Range</h1>
    <p class="category-title__parg">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
  </div>
  <div class="category-items">
    <div class="category-items-card">
      <img
        src="/assets/img/dining.png"
        alt=""
        class="category-items-card__img"
      />
      <p class="category-items-card__name">Dining</p>
    </div>
    <div class="category-items-card">
      <img
        src="/assets/img/living.png"
        alt=""
        class="category-items-card__img"
      />
      <p class="category-items-card__name">Living</p>
    </div>
    <div class="category-items-card">
      <img
        src="/assets/img/bedroom.png"
        alt=""
        class="category-items-card__img"
      />
      <p class="category-items-card__name">Bedroom</p>
    </div>
  </div>
</div>
